* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(C:/Users/USER/Documents/UTS/background1.jpg);
  background-position: center;
  background-size: cover;
}

.navbar {
  height: 12%;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  cursor: pointer;
  padding-left: 30px;
}

.menu-icon {
  width: 30px;
  cursor: pointer;
  padding-right: 30px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
  padding-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}

nav ul li a:hover {
  color: #000;
}

.row {
  display: flex;
  height: 88%;
  align-items: center;
}

.col {
  flex-basis: 50%;
  padding-left: 50px;
}

h1 {
  color: #fff;
  font-size: 60px;
}

p {
  color: #fff;
  font-size: 11px;
  line-height: 15px;
}

button {
  width: 180px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}

button:hover {
  color: #fff;
  background: #000;
}

.card {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: transform 0.3s;
}

.card1 {
  background-image: url(C:/Users/USER/Documents/UTS/gambar1.jpg);
}

.card2 {
  background-image: url(C:/Users/USER/Documents/UTS/gambar2.jpg);
}

.card3 {
  background-image: url(C:/Users/USER/Documents/UTS/gambar3.jpg);
}

.card4 {
  background-image: url(C:/Users/USER/Documents/UTS/gambar4.jpg);
}

.card:hover {
  transform: translateY(-10px);
}

h5 {
  color: #000;
  text-shadow: 0 0 5px #999;
}

.card p {
  text-shadow: 0 0 15px #000;
  font-size: 8px;
}
